@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Playfair Display';
  src: url(../assets/fonts/playfair-display/PlayfairDisplay-VariableFont_wght.ttf);
}

:root {
  --purple: #7a3f86;
  --purple-hover: #45224b;
  --gold: #c98718;
  --gold-hover: #9e6b12;
  --white: #ffffff;
  --darker-white: #f6f6f6;
  /* --darker-white: #c2c2c2; */
  --green: #005d74;
  --light-gray: #d9d9d9;
  --gray: #c7c7c7;
  --dark-gray: #5d5958;
  /* --section-separation: 10vw; */
  --slider-image-height: 450px;
  --slider-arrow-width: 3.2em;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: var(--darker-white);
  font-weight: 400;
  overflow-x: hidden;
}

section {
  padding: 5em 2em;
}

ul {
  padding: 0;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 2.4rem;
  margin-top: 0;
}

p {
  line-height: 150%;
  max-width: 28em;
  font-size: 1rem;
  margin-top: 0;
}

a {
  color: var(--purple);
  transition: all 0.4s ease-in-out;
}

a:hover {
  color: var(--purple-hover);
}

/* nav */
nav {
  display: flex;
  margin-top: 2em;
  margin-bottom: 2.6em;
  padding: 0 2em;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 10em;
}

nav ul {
  display: flex;
  gap: 0 2.5em;
}

li {
  list-style-type: none;
}

.nav-link {
  color: var(--purple);
  font-size: 1.3rem;
  transition: all 0.4s ease-out;
}

.nav-link:hover {
  color: var(--purple-hover);
}

.nav-link-highlight {
  border: 2px solid var(--purple);
  padding: 0.7em 1.1em;
}

.nav-link-highlight:hover {
  background-color: var(--purple-hover);
  border: 2px solid var(--purple-hover);
  color: white;
}

/* apartment */

.apartment {
  width: 100%;
  margin: 0 auto;
  padding: 3em unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 2.3em;
}

.apartment-info {
  margin-bottom: 3em;
}

.apartment-info li {
  display: flex;
  align-items: center;
  gap: 0 0.7em;
  margin-bottom: 1em;
  white-space: nowrap;
}

.apartment-info li:last-child {
  margin-bottom: 0;
}

.apartment-info img {
  height: 2em;
}

#reservation-button {
  border: 0;
  background: var(--gold);
  color: white;
  font-size: 1.4rem;
  padding: 0.7em 1.1em;
  cursor: pointer;
  font-weight: 500;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#close-button {
  background: none;
  border: none;
  position: absolute;
  cursor: pointer;
  top: 1em;
  right: 1em;
  width: 1.6em;
  padding: 0.2em;
  -webkit-tap-highlight-color: transparent;
}

#close-button img {
  width: 100%;
}

#reservation-modal {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: none;
  place-items: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 13;
}

.reservation-modal-inner {
  background: var(--darker-white);
  padding: 1.5em 2em;
  position: relative;
  opacity: 0;
  border: 1px solid var(--dark-gray);
}

#reservation-modal li:first-child {
  margin-bottom: 1.8em;
}

#reservation-modal li {
  line-height: 170%;
  text-align: start;
  font-size: 1.05rem;
}

#reservation-modal a {
  color: var(--gold);
}

.slider {
  width: 100%;
  max-width: calc(1.5 * var(--slider-image-height) + 2 * var(--slider-arrow-width));
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  gap: 1.2em 0.6em;
  height: min-content;
}

.slider-images {
  width: 100%;
  height: var(--slider-image-height);
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
}

.slide:first-child {
  z-index: 11;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0 1px;
}

.slider-arrow {
  border: none;
  background: none;
  width: var(--slider-arrow-width);
  cursor: pointer;
}

.slider-arrow img {
  width: 100%;
}

.slider-indicators {
  display: flex;
  gap: 0;
  grid-row: 2/3;
  grid-column: 1/4;
  justify-self: center;
}

.indicator {
  border: none;
  background: none;
  padding: 0.4em 0.5em;
  cursor: pointer;
}

.indicator div {
  width: 1.2em;
  height: 0.45em;
  background: var(--gray);
}

.indicator--active div {
  background: var(--dark-gray);
}

/* location */
.location {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  gap: 0 2em;
  margin-top: -4em;
}

.location h2 {
  grid-column: 1/3;
  justify-self: center;
  margin-bottom: 1.6em;
}

.location img {
  max-width: 100%;
}

.location p {
  margin-bottom: 2em;
}

.location a {
  font-size: 1.3rem;
  font-family: 'Playfair Display', serif;
}

/* footer */
footer {
  background: var(--dark-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 2em;
}

.footer-links-container a {
  color: white;
  margin-left: 1em;
  font-size: 0.8rem;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 15px;
  }

  nav {
    margin-bottom: 0;
    flex-direction: column;
    gap: 2em 0;
  }

  .logo {
    width: 10em;
  }

  .nav-link {
    font-size: 1rem;
  }

  section {
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
  }

  body {
    text-align: center;
  }

  .apartment,
  .location {
    display: block;
  }

  .apartment-info {
    width: min-content;
    margin-left: auto;
    margin-right: auto;
  }

  .slider {
    margin: 0 auto;
  }

  :root {
    --slider-image-height: 200px;
    --slider-arrow-width: 2em;
  }

  .location {
    margin-top: -2em;
  }

  .location h2 {
    margin-bottom: 1em;
  }

  .location img {
    margin-bottom: 2em;
  }

  .location p {
    margin-left: auto;
    margin-right: auto;
  }

  #reservation-button {
    margin-bottom: 2em;
  }

  footer {
    flex-direction: column;
    gap: 3.5em 0;
  }

  .footer-links-container {
    display: flex;
    flex-direction: column;
    gap: 1em 0;
  }
}

@media screen and (max-width: 519px) {
  :root {
    --slider-image-height: 200px;
  }

  .indicator {
    padding: 0.3em;
  }

  .indicator div {
    width: 0.8em;
    height: 0.3em;
  }
}

@media screen and (max-width: 349px) {
  :root {
    --slider-image-height: 150px;
  }
}

@media screen and (min-width: 520px) and (max-width: 999px) {
  :root {
    --slider-image-height: 250px;
  }

  nav {
    flex-direction: row;
  }

  section {
    padding-top: 4em;
    padding-bottom: 4em;
  }

  .location {
    margin-top: -3.5em;
  }
}

@media screen and (min-width: 700px) {
  :root {
    --slider-image-height: 400px;
  }
}

@media screen and (min-width: 3000px) {
  :root {
    --slider-image-height: 600px;
  }

  html {
    font-size: 30px;
  }

  .location img {
    min-width: 25em;
  }
}
